/**
 *  @author    Luis Delgado<lui_delgado@yahoo.com>
 *  @date      20120617
 *  @cavs      $Id: $
 *  @abstract  Archivo de estilos de menu
 *  @name      $CSS_NAME = 'CSS_MENU';
*/
body, * {
    background-color: #BCCFEF;
  scrollbar-face-color: #40668c; 
  scrollbar-track-color: #7b95b0; 
  scrollbar-arrow-color: #d5e0e0;
 
  scrollbar-3dlight-color: #587289;         
  scrollbar-darkshadow-color: #587289;
 
  scrollbar-highlight-color: #d5e0e0; 
  scrollbar-shadow-color: #d5e0e0;
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 0; 
    margin-right: 0;
    margin-width: 0;
    margin-height: 0;
}

.TituloMenu {
  FONT-FaMILY: arial, vardana, tahoma, sans-serif;
  font-size:14px;
  color:#000000;
}

#menuSia table {
  FONT-FaMILY: arial, vardana, tahoma, sans-serif;
  WIDTH: 190px;
}

#menuSia img {
    background: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: #4D6A7A #C3D8E4 #C3D8E4 #9caabd;
}

#menuSia a.outer {
    display: block;
    border-right: #0d2737 1px solid;
    border-top: #b6c5cf 1px solid;
    border-left: #b6c5cf 1px solid;
    border-bottom: #0d2737 1px solid;
    font-size: 11px;
  background: #000080;
  width: 190px;
  height: 30px;
  color: #FFF;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
}
#menuSia a.outer:visited {
  display: block;
  color: #FFF;
  text-align: left; 
  text-decoration: none;
}
#menuSia a.outer:hover {
    border-right: #0d2737 1px solid;
    border-top: #b6c5cf 1px solid;
    border-left: #b6c5cf 1px solid;
    border-bottom: #0d2737 1px solid;
    color: #000000;
    background: #d5e0e0;
}

/* Para submenus */
#menuSia a.inner {
  display: block;
  font-size: 10px;	
  border-bottom: #000 1px solid;
  border-right: #0d2737 1px solid;
  border-left: #0d2737 1px solid;
  background: #6e8ba8;
  width: 190px;
  height: 15px;
  color: #FFF;
  text-align: left;
  text-decoration: none
}
#menuSia a.inner:visited {
  display: block;
  color: #FFF;
  text-align: left;
  text-decoration: none
}
#menuSia a.inner:hover {
  background: #ffffff;
  color: #000000;;
}

#menuSia .middle {
  vertical-align: middle; 
}
#menuSia .top {
  vertical-align: top; 
}
